.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn_create {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .title {
    padding-bottom: 50px;
    font-size: 2.6em;
    color: orangered;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
  }
}
